
<div class="p-3 mb-2 bg-light text-dark" class="border border-secondary">
  <%= simple_form_for (cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.submit  class: "btn btn-light" %>
  <% end %>
</div>

